body {
    background: #eee;
    padding: 20px;
    margin: 0;
    font-size: 18px;
    font-family: arial;
}
.d-grid > div {
    padding: 20px;
    background: goldenrod;
    border: 2px solid #333;
}
